.my{
  .bar{
    width: 138rpx;
    height: 16rpx;
    background-color: #EB5B55;
    position: absolute;
    bottom: 0;
    left: -6rpx;
    border-radius: 8rpx;
    z-index: 1;
  }
  image{
    height: 100%;
    width: 100%;
  }
}